.avatar {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

.comment-item {
  display: flex;
  margin-bottom: 10px;
  .avatar {
    span {
      display: flex;
      align-items: center;
      padding: 0 10px;
      font-weight: bold;
      line-height: 200%;
    }
  }

  .comment {
    display: flex;
    align-items: center;
    background: #EEEEEE;
    border-radius: 30px;
    padding: 0px 20px;
  }
}

.add-comment {
  align-items: center;
  display: flex;

  .input {
    margin: 0 10px;
  }
}
