.avatar {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.comment-item {
  display: flex;
  margin-bottom: 10px;
  .avatar {
    display: flex;
    span {
      max-height: 35px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      font-weight: bold;
      line-height: 200%;
    }
  }

  .comment {
    display: flex;
    align-items: center;
    background: #EEEEEE;
    border-radius: 10px;
    padding: 0px 20px;
  }

  .comment-action {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}

.add-comment {
  align-items: center;
  display: flex;

  .input {
    margin: 0 10px;
  }
}
