.header {
    display: flex;
    background-color: #263238;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;

    .container {
        display: flex;
    }

    .logo {
        img {
            width: 60px;
            height: 35px;
            object-fit: cover;
        }
    }
    .search-form {
        width: 300px;
        margin-right: 20px;
        button {
            background-color: #AB2E20;
            border: none;
        }
    }

    .user-wrap {
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
        
        a {
            display: flex;
            align-items: center;
        }

        .active {
            background: white;
            padding: 2px 10px;
            border-radius: 5px;
            .user-name {
                color: #AB2E20;
            }
        }

        .user-name {
            color: white;
            margin-right: 5px;
            font-weight: bold;
        }

        .avatar {
            img {
                width: 33px;
                height: 33px;
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
            }
        }
    }

    .notification {
        cursor: pointer;
        margin-top: 0px;
        margin-left: 50px;
        font-size: 22px;
        color: white;
        position: relative;
        

        span {
            background: #AB2E20;
            border-radius: 50%;
            font-size: 11px;
            width: 20px;
            height: 20px;
            padding: 3px;
            position: absolute;
            margin-left: -9px;
            margin-top: -3px;
        }
    }

    .bar-item {
        display: flex;
        align-items: center;
        margin-right: 20px;

        a {
            color: white;
            &:hover {
                color: #AB2E20;
            }
        }

        .active {
            color: #AB2E20;
            background: white;
            padding: 4px 10px;
            border-radius: 7px;
        }
    }

    .logout-icon {
        color: white;
        margin-left: 50px;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 0px;
        &:hover {
            color: #AB2E20;
        }
    }
}

.notification-items {
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }
    
    &::-webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }

    .seen {
        background: #CFD8DC;
    }
}