.post-empty {
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.post-skeleton {
  background-color: white;
  padding: 5px 10px;
}

.post-container {
  width: 60%;
  flex-shrink: 0;
}

.post-wrap {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;

    .avatar {
        display: flex;

        .avatar-img {
           img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
           }
        }

        .avatar-info {
            margin-left: 10px;
            .info-name {
                font-size: 14px;
                font-weight: 500;
            }

            .info-time {
                font-size: 11px;
            }
        }
    }


    .post-detail {
        padding: 10px 0;
    }
    .post-action-info {
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        .action-info {
            .action-icon {
                margin-right: 3px;
                cursor: pointer;
                &:hover {
                    color: #AB2E20;
                }
            }

            span {
                margin-right: 5px;
            }
        }
    }

    .post-action {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        display: flex;
        .like-btn, .comment-btn {
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 0 5px 0;
            width: 50%;
            text-align: center;
            &:hover {
                background: #E0E0E0;
            }

            > .anticon {
              margin-right: 5px;
            }
        }
    }

    .post-comment {
        padding: 10px 5px;
    }
}

.post-image-wrapper {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 15px;

  .post-image {
    flex-grow: 1;
    flex-basis: calc(50% - 2px);
    height: 200px;
    margin: 1px;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .more-images {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      color: #fff;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: rgba(0, 0, 0, .7);
      }
    }
  }
}